<%= form_for :user do |f| %>
  <p>
    <%= f.label :username %>
    <%== f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p><%= f.submit "Login"%></p>
<% end %>

<%= button_to "Log in with Google", '/auth/google_oauth2' %>